extends ../shared/layout

block extra_styles
  link(rel="stylesheet", href="/stylesheets/auth.css")

block content
  //- Navigation Bar
  include ../shared/nav-list
  
  form(class="login-form", method="POST")
    input(type="text", name="username", class="field", placeholder="Username")
    input(type="password", name="password", class="field", placeholder="Password")
    input(type="submit", value="Login", class="submission-button")
