extends ../shared/layout

block extra_styles
  link(rel="stylesheet", href="/stylesheets/auth.css")

block content
  //- Navigation Bar
  include ../shared/nav-list
  
  form(class="login-form", method="POST")
    p.message= message
    input.field(type="text", name="username", placeholder="Username")
    input.field(type="password", name="password", placeholder="Password")
    input.submission-button(type="submit", value="Login")
