extends ../shared/layout

block extra_styles
  link(rel="stylesheet", href="/stylesheets/auth.css")

block content
  //- Navigation Bar
  include ../shared/nav-list

  form(class="registration-form", method="POST")
    p.message= message
    input.field(type="text", name="username", placeholder="Username")
    input.field(type="text", name="full_name", placeholder="Full Name")
    input.field(type="email", name="email_address", placeholder="Email Address")
    input.field(type="text", name="location", placeholder="City and State")
    input.field(type="password", name="password", placeholder="Password")
    input.submission-button(type="submit", value="Sign up")
