doctype html
html
  head
    title!= "Savannah &raquo; " + title
    
    //- Stylesheets
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    block extra_styles
  body
    block content
