doctype html
html
  head
    title!= "Savannah &raquo; " + title
    
    //- Stylesheets
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    block extra_styles    
  body
    block content
  footer
    div(class="left")
      ul
        h1 Shop
        each title in ['Featured', 'Clearance', 'View All']
          li
            a(href="#")= title
      ul
        h1 Seminars
        each title in ['Your Reviews and Comments', 'View All']
          li
            a(href="#")= title
      section(class="outro")
        p Made with love by Alexander
        p &copy; 2016 All Rights Reserved
    div(class="right about")
      h1 About Savannah
      p Savannah is a retailer of consumer electronics, computer hardware, video games, and software. Geeks and novices alike from around the world come to Savannah in order to buy tech and tech-related products and attend seminars. Savannah makes extensive use of the Internet to bring its’ users together. The site should allow a simple interface to browse and purchase products with major credit card companies.
      img(src="/icons/logo.png", alt="Savannah logo", class="logo")
      div(class="social-links")
        a(href="#", class="facebook")
          img(src="/icons/facebook.png", alt="Facebook icon")
        a(href="#", class="twitter")
          img(src="/icons/twitter.png", alt="Twitter icon")
        a(href="#", class="google-plus")
          img(src="/icons/google-plus.png", alt="Google Plus icon")
        a(href="#", class="instagram")
          img(src="/icons/instagram.png", alt="Instagram icon")
        a(href="#", class="linkedin")
          img(src="/icons/linkedin.png", alt="LinkedIn icon")

  //- Scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
  script(src="/scripts/main.js")
