nav
  a(href="/", class="escape-hatch") Savannah
  ul
    li
      a(href="/electronics") Electronics
    li
      a(href="/software") Software
    li
      a(href="/hardware") Hardware
    li
      a(href="/seminars") Seminars
    li
      button
        a(href="/auth/login") Login
      button.lite
        a(href="/auth/sign-up") Sign up
