nav
  a(href="/") Savannah
  ul
    li
      a(href="/electronics") Electronics
    li
      a(href="/software") Software
    li
      a(href="/hardware") Hardware
    li
      a(href="/seminars") Seminars
    li
      button
        a(href="/auth/login") Login
      button
        a(href="/auth/sign-up")
section(class="cta")
  img(src="", alt="Featured post background image")
  h1 Ultra Sharp Monitors Released
  p We just got a lot of new monitors! If you’re looking for something big, something small, something with a high PPI, something with excellent color reproduction, or anything else we’ve got it!
  a(href="/featured/monitors") Show me the monitors &raquo;
