nav
  a(href="/", class="escape-hatch") Savannah
  ul
    li
      a(href="/electronics") Electronics
    li
      a(href="/software") Software
    li
      a(href="/hardware") Hardware
    li
      a(href="/seminars") Seminars
    li
      button.tan
        a(href="#") Login
      button.lite.tan
        a(href="#") Sign up
  button.pancakes
    span
    span
    span
