// auth.scss
// Alexander Rhett Crammer
// Monday, 16 April, 2016

@import 'prefs';

// Forms
.login-form, .registration-form {
  margin: auto;
  width: 35%;

  .message {
    margin: 2.5% auto;
    text-align: center;
  }

  .field {
    padding: {
      top: 5%;
      right: 0;
      bottom: 5%;
      left: 0;
    }
    text-indent: 1.5rem;
    width: 100%;
  }

  .submission-button {
    background: #58b150;
    border: 0.215rem solid #D6D6D6;
    border-radius: 0.45rem;
    color: white;
    cursor: pointer;
    display: block;
    margin: 2.5% auto;
    padding: 4.25% 0;
    transition: background 175ms, border-color 175ms, color 175ms;
    width: 35%;

    &:hover {
      background: #76CC6E;
      border-color: #F9F9F9;
    }

    &:active {
      background: #23661d;
      border-color: #565656;
      color: #cdcdcd;
    }
  }
}

// Profile
.profile-header-photo {
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
  border: {
    top: 0.25rem solid #963751;
    bottom: 0.25rem solid #963751;
  }
  box-shadow: 0 -5rem 5rem -2.5rem #250b12 inset;
  box-shadow: 0 -3rem 0rem 0 rgba(14, 14, 14, 0.85) inset;
  height: 12.5rem;
  position: relative;

  img {
    border: 0.175rem solid #bd5873;
    box-shadow: 0 0 5px 0px #633944;
    position: absolute;
    bottom: -20%;
    left: 10%;
    width: 15%;
    z-index: 1;
  }

  h1 {
    color: #fbfbfb;
    font: {
      family: $baseFontStack;
      size: 1.5rem;
    }
    letter-spacing: 0.05rem;
    position: absolute;
    bottom: 5%;
    left: 27.5%;
    text-shadow: 0 0 5px black;
  }
}

.profile-container {
  float: left;
  margin: auto;
  position: relative;
  left: 7.5%;
  width: 85%;

  nav {
    position: absolute;
    top: 20%;
    width: 25%;

    a:link, a:visited {
      color: #ce3d66;
      font: {
        family: $baseFontStack;
        size: 0.875rem;
      }
      letter-spacing: 0.035rem;
      text-decoration: none;
    }

    li {
      border-radius: 100rem;
      padding: 6.5% 5%;
      margin: 3.25% 0;
      text-indent: 1.75rem;
      transition: background-color 225ms, color 225ms;

      &:hover, &:active {
        color: white;
      }

      &:hover {
        background-color: #e5577f;
      }

      &:active {
        background-color: #752038;
        color: #9e9e9e;
      }
    }
  }

  // Profile saved message
  .saved-message {
    color: $grey;
    font: $baseFontStack;
    float: right;
    margin-top: 5%;
    text-align: center;
    width: 75%;

    span {
      font-size: 1.5rem;
      margin-left: 0.35%;
      vertical-align: middle;
    }
  }

  // Profile form
  .profile-info {
    float: right;
    padding: {
      top: 3.5%;
      bottom: 3.5%;
    }
    width: 60%;

    .labels-and-fields {
      overflow: auto;
    }

    label {
      color: $grey;
      display: block;
      float: left;
      margin-top: 2.5%;
      width: 50%;

      &.wide {
        width: 100%;
      }

      .title {
        display: block;
        font: {
          family: $baseFontStack;
          size: 0.95rem;
        }
        margin-left: 1rem;
        width: 100%;
      }
    }

    input {
      padding: 5% 7.5%;
      width: 80%;

      &[type="file"] {
        padding: 2.5% 7.5%;
        margin: 2.5%;
      }
    }

    button {
      margin-top: 7.5%;
    }
  }
}
