// cart.scss
// Alexander Rhett Crammer
// Monday, 2 May, 2016

@import 'prefs';

// Structure
body {
  background: #f5f5f5;
}

aside p {
  color: $grey;
  line-height: 175%;
  margin: auto;
  width: 82.5%;

  span:nth-child(2n) {
    float: right;
  }
}

// Forms
form {
  label {
    color: $grey;
    cursor: pointer;
    display: block;

    &:first-of-type {
      margin-top: 7.5%;
    }
  }

  [name="shipping_address_line_1"],
  [name="shipping_address_line_2"],
  [name="card_number"],
  [name="ZIP"],
  [name="name_on_the_card"] {
    width: 80%;
  }

  [name="city"] {
    width: 45%;
  }

  [name="state"] {
    width: 15%;
  }

  [name="month"],
  [name="year"],
  [name="CVV"] {
    width: 13.25%;
  }

  button {
    margin-top: 10%;
  }
}

// Empty Cart Message
.empty-cart-message{
  font: {
    family: "Georgia", serif;
    style: italic;
  }
  padding: 2.5%;
  text-align: center;
}

// Responsiveness
@media only screen and (max-width: 750px) {
  // Structure
  main, aside {
    width: 100%;
  }

  // Forms
  form {
    label {
      margin: 0 !important;
    }

    input, textarea {
      width: 80%;
    }

    button {
      margin-top: 2.5%;
    }
  }
}
