// Main.scss
// Alexander Rhett Crammer
// Friday, 22 April, 2016

@import 'prefs';

// Structure
body {
  background: #ededed;
}

main {
  /* Edit and Share: http://colorzilla.com/gradient-editor/#f7f7f7+0,f0f0f0+100 */
  background: #f7f7f7;
  background: -moz-linear-gradient(45deg, #f7f7f7 0%, #f0f0f0 100%);
  background: -webkit-linear-gradient(45deg, #f7f7f7 0%,#f0f0f0 100%);
  background: linear-gradient(45deg,  #f7f7f7 0%,#f0f0f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f0f0f0',GradientType=1);

  float: right;
  width: 632.867px / 1024px * 100%;
}

aside {
  /* Edit and Share: http://colorzilla.com/gradient-editor/#efefef+0,dedede+100 */
  background: #efefef;
  background: -moz-linear-gradient(45deg, #efefef 0%, #dedede 100%);
  background: -webkit-linear-gradient(45deg, #efefef 0%,#dedede 100%);
  background: linear-gradient(45deg, #efefef 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dedede',GradientType=1);

  border: {
    left: 0.125rem solid #d2d2d2;
    bottom: 0.125rem solid #d2d2d2;
  }
  box-sizing: border-box;
  float: left;
  font-family: "Georgia";
  padding-top: 2.5%;
  width: 391.133px / 1024px * 100%;

  p {
    font-family: "Fira Sans";
  }

  label {
    font: {
      family: "Fira Sans";
      size: 0.915rem;
    }
    margin-left: 10%;
  }

  input[type="checkbox"] {
    vertical-align: 20%;
    width: inherit;
  }

  ul {
    color: #333;
    margin: auto;
    width: 80%;
  }

  li {
    line-height: 185%;

    &:not(.indent) {
      margin: 5% auto 2.5%;
    }

    &.indent {
      text-indent: .75rem;
    }
  }
}

h1.peachy {
  color: $peach;
  font-style: italic;
  letter-spacing: 0.125rem;
  margin: 5% auto 2.5%;
  text: {
    align: center;
    transform: uppercase;
  }

  &::before, &::after {
    background-color: #bababa;
    content: '';
    display: inline-block;
    height: 0.125rem;
    margin: 0 5%;
    vertical-align: middle;
    width: 5rem;
  }

  &.dark {
    color: $grey;
  }

  &.grey-to-silver {
    margin: 0;
    padding: 3.5% 0;
  }
}

p {
  font: {
    family: "Fira Sans";
    size: 0.925rem;
  }
}

form {
  padding: 7.5%;

  h2 {
    color: #494949;
    display: block;
    font: {
      family: "Fira Sans Light";
      size: 0.925rem;
    }
    letter-spacing: 0.0275rem;
    text-transform: uppercase;
    margin: auto;
    width: 95%;
  }

  input, textarea {
    /* Edit and Share: http://colorzilla.com/gradient-editor/#dbdbdb+0,c7c7c7+100 */
    background: rgb(219,219,219); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(219,219,219,1) 0%, rgba(199,199,199,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(219,219,219,1) 0%,rgba(199,199,199,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(219,219,219,1) 0%,rgba(199,199,199,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#c7c7c7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    border: 0;
    border-radius: 0.175rem;
    color: $grey;
    font: {
      family: "Georgia";
      size: 0.875rem;
      style: italic;
    }
    letter-spacing: 0.0275rem;
    padding: 2.5% 7.5%;
    margin: 3.5% 2.5%;
    width: 30%;
  }

  textarea {
    height: 275px;
    line-height: 165%;
    padding: 4.35% 7.5%;
    width: 80%;
  }

  button {
    display: block;
    margin: auto;
  }
}

footer {
  background: aqua;
  clear: both;
}

// Navigation
nav {
  height: 135px;
  position: relative;
  z-index: 1;

  .escape-hatch {
    background: {
      image: url('/icons/logo.png');
      position: left center;
      repeat: no-repeat;
      size: 75px, contain;
    }
    font: {
      family: "Jaapokki";
      size: 1.35rem;
    }
    position: absolute;
    top: 0;
    left: 3.5%;
    bottom: 0;
    line-height: 135px; // Center 'Savannah' text vertically
    text-align: right; // Move 'Savannah' text to the right
    width: 185px; // 7.5% for the logo; 7.5% for 'Savannah' text; A little extra for the font size
  }

  ul {
    position: absolute;
    top: 0;
    right: 3.5%;
    bottom: 0;
    text-align: right;
    width: 739px;

    li {
      display: inline-block;
      font: {
        family: "Source Sans Pro";
      }
      letter-spacing: 0.035rem;
      line-height: 135px;
      padding: 0 0.85rem;
      text-align: center;
    }
  }

  .pancakes {
    display: none;
  }
}

nav:not(.pink-to-orange) {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

// Navigation and Footer
nav, footer {
  overflow: auto;

  a {
    transition: color 225ms;
    text-decoration: none;

    &:link, &:visited {
      color: $white;
    }

    &:hover {
      color: lighten($white, 100%);
    }

    &:active {
      color: darken($white, 50%);
    }
  }

  button {
    // Prevent effect where links don't change
    // color but buttons do on hover
    &:hover a {
      @extend a:hover;
    }

    &:active a {
      @extend a:active;
    }
  }
}

// Search Bar
.search-bar {
  /* Edit and Share: http://colorzilla.com/gradient-editor/#efefef+0,dedede+100 */
  background: #efefef;
  background: -moz-linear-gradient(45deg, #efefef 0%, #dedede 100%);
  background: -webkit-linear-gradient(45deg, #efefef 0%,#dedede 100%);
  background: linear-gradient(45deg, #efefef 0%,#dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#dedede',GradientType=1);

  border-bottom: 0.15rem solid lighten($grey, 50%);
  color: #383838;
  font-family: "Georgia";
  padding: 1.5% 5%;

  a:link, a:visited {
    color: #383838;
    float: left;
    line-height: 250%;
    text-decoration: none;
  }

  a:hover .sorting-options {
    display: block;
    line-height: 200%;
  }

  .sorting-options {
    background: #fff7f9;
    display: none;
    border: 0.175rem solid #cec4c6;
    border-radius: 0.35rem;
    color: #504547;
    font: {
      family: "Fira Sans";
      size: 0.9rem;
    }
    letter-spacing: 0.0125rem;
    line-height: 150%;
    position: absolute;
    padding: 0.85rem 1.75rem;
    width: 17.5%;
    z-index: 2;

    li {
      cursor: pointer;
      transition: color 225ms;
    }

    li:hover {
      color: $peach;
    }

    li:active {
      color: darken($peach, 35%);
    }
  }

  input {
    background: {
      color: #dbdbdb;
      image: url('/icons/magnifying-glass.png');
      position: 92.5%, center right;
      repeat: no-repeat;
      size: 11.5%;
    }
    border: 0;
    border-radius: 100rem;
    float: right;
    font: {
      family: "Georgia";
      size: 0.85rem;
      style: italic;
    }
    letter-spacing: 0.025rem;
    outline: none;
    padding: 0.75rem 1.75rem;
  }

  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

// CTAs
.cta {
  background: {
    position: center center;
    repeat: no-repeat;
    size: cover;
  }
  position: relative;
  height: 500px;
  overflow: hidden;

  section {
    color: $white;
    font: {
      family: "Source Sans Pro Light";
      size: 1.25rem;
    }
    line-height: 150%;
    position: absolute;
    top: 35%;
    right: 17.5%;
    width: 42.5%;
    max-width: 500px;

    h1 {
      font: {
        family: "Fira Sans Medium";
        size: 1.35rem;
      }
    }

    p {
      color: white;
      letter-spacing: 0.035rem;
      margin: 2.5% auto;
    }

    button {
      margin: 1rem 1.5%;

      a {
        color: $white;
        font: {
          family: "Fira Sans";
          size: 0.95rem;
        }
        letter-spacing: 0.015rem;
        text-decoration: none;
        transition: color 225ms;
      }

      &:hover a {
        color: $white;
      }

      &:active a {
        color: darken($white, 17.5%);
      }
    }
  }
}

// Footer
footer {
  color: $white;
  font-family: "Georgia";
  line-height: 150%;
  letter-spacing: 0.025rem;

  h1 {
    font: {
      style: italic;
      weight: bold;
    }
    letter-spacing: 0.045rem;
    margin-left: 7.5%;
  }

  p, li {
    font-size: 0.95rem;
    margin-left: 7.5%;
    max-width: 475px;
  }

  .left, .right {
    float: left;
    padding: 5% 2.5%;
  }

  .left {
    width: 30%;
    display: table;
    height: 300px;

    > span {
      display: table-row;

      &:first-child, &:last-child {
        height: 100px;
      }

      > ul {
        display: table-cell;
        margin: 7.5% auto;
        vertical-align: middle;
      }
    }

    .outro p {
      font-size: 0.85rem;
      line-height: 225%;
    }
  }

  .right {
    width: 60%;

    &.about {
      p {
        float: left;
        width: 62.5%;
      }

      .logo {
        float: right;
        position: relative;
        right: 10%;
        width: 17.5%;
      }
    }

    .social-links {
      clear: both;
      margin: auto;
      padding-top: 5%;
      width: 360px;

      a {
        display: inline-block;
        margin: 10px;
        width: 57.5px / 460px * 100%;
      }
    }
  }
}

// Buttons
button {
  background-color: $neutral-button-color;
  border: 2px solid $neutral-button-border-color;
  border-radius: 5rem;
  color: $white;
  cursor: pointer;
  font: {
    family: "Source Sans Pro";
    size: 0.85rem;
  }
  letter-spacing: 0.035rem;
  margin: 0 10px;
  outline: none;
  padding: 10px 35px;
  transition: all 225ms;

  &:active {
    background-color: darken(#ddc458, 5%);
    border-color: darken(#b29e47, 5%);

    a {
      color: darken($white, 15%);
    }
  }

  &:disabled {
    background-color: desaturate($neutral-button-color, 80%);
    border-color: desaturate($neutral-button-color, 65%);
  }

  // Button Flavors
  &.tan {
    background-color: #b29586;
    border-color: #3a332d;

    &:hover {
      background-color: lighten(#b29586, 5%);
      border-color: lighten(#3a332d, 5%);
    }

    &:active {
      background-color: darken(#b29586, 5%);
      border-color: darken(#3a332d, 5%);

      a {
        color: darken($white, 15%);
      }
    }
  }

  &.yellow {
    background-color: #ddc458;
    border-color: #b29e47;

    &:hover {
      background-color: lighten(#ddc458, 10%);
      border-color: lighten(#b29e47, 10%);
    }

    &:active {
      background-color: darken(#ddc458, 5%);
      border-color: darken(#b29e47, 5%);
    }
  }

  &.lite {
    background-color: transparent;
    border-color: transparent;
  }

  &:hover {
    background-color: lighten($neutral-button-color, 5%);
    border-color: lighten($neutral-button-border-color, 5%);
  }

  &:active {
    background-color: darken($neutral-button-color, 5%);
    border-color: darken($neutral-button-border-color, 5%);
  }
}

// Gradients
.pink-to-orange {
  /* Edit and Share: http://colorzilla.com/gradient-editor/#db5178+0,df8b88+100 */
  background: #db5178;
  background: -moz-linear-gradient(45deg, #db5178 0%, #df8b88 100%);
  background: -webkit-linear-gradient(45deg, #db5178 0%,#df8b88 100%);
  background: linear-gradient(45deg, #db5178 0%,#df8b88 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5178', endColorstr='#df8b88',GradientType=1);
}

.grey-to-silver {
  /* Edit and Share: http://colorzilla.com/gradient-editor/#dedede+0,efefef+100 */
  background: #efefef;
  background: -moz-linear-gradient(45deg, #dedede 0%, #efefef 100%);
  background: -webkit-linear-gradient(45deg, #dedede 0%,#efefef 100%);
  background: linear-gradient(45deg, #dedede 0%,#efefef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#efefef',GradientType=1);
}

// Responsiveness
@media only screen and (max-width: 950px) {
  // Structure
  h1.peachy {
    &::before, &::after {
      content: none;
    }
  }

  // Navigation
  nav {
    &.static {
      position: static;
    }

    ul {
      background-color: yellowgreen;
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 100%;
    }

    .pancakes {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      display: block;
      float: right;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      right: 5%;
      bottom: 0;
      width: 10%;
      z-index: 2;

      span {
        display: block;
        background-color: $white;
        height: 0.25rem;
        margin: 0.75rem auto;
        transition: all 225ms;
        width: 3.25rem;

        &.crossed:first-of-type {
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);

          -webkit-transform-origin: top right;
          transform-origin: top right;
          width: 2.875rem;
        }

        &.crossed:nth-child(2n) {
          background-color: transparent;
          transition: none;
        }

        &.crossed:last-of-type {
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);

          -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
          width: 2.875rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  // CTAs
  .cta {
    section {
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      width: 80%;
    }
  }

  // Footer
  footer {
    .left, .right {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  // Structure
  main, aside {
    width: 100%;
  }

  aside {
    clear: both;
    padding: 5% 0;
  }
}

// Fonts
@font-face {
  font-family: 'Jaapokki';
  src: url('/fonts/Jaapokki-Regular.eot');
  src: url('/fonts/Jaapokki-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Jaapokki-Regular.woff2') format('woff2'),
    url('/fonts/Jaapokki-Regular.woff') format('woff'),
    url('/fonts/Jaapokki-Regular.ttf') format('truetype'),
    url('/fonts/Jaapokki-Regular.svg#jaapokkiregular') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('/fonts/SourceSansPro-Regular.eot');
  src: url('/fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Regular.woff') format('woff'),
    url('/fonts/SourceSansPro-Regular.ttf') format('truetype'),
    url('/fonts/SourceSansPro-Regular.svg') format('svg');
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('/fonts/SourceSansPro-Light.eot');
  src: url('/fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/SourceSansPro-Light.woff2') format('woff2'),
    url('/fonts/SourceSansPro-Light.woff') format('woff'),
    url('/fonts/SourceSansPro-Light.ttf') format('truetype'),
    url('/fonts/SourceSansPro-Light.svg') format('svg');
}

@font-face {
  font-family: 'Fira Sans Light';
  src: url('/fonts/FiraSans-Light.eot');
  src: url('/fonts/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FiraSans-Light.woff2') format('woff2'),
    url('/fonts/FiraSans-Light.woff') format('woff'),
    url('/fonts/FiraSans-Light.ttf') format('truetype'),
    url('/fonts/FiraSans-Light.svg') format('svg');
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/FiraSans-Book.eot');
  src: url('/fonts/FiraSans-Book.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FiraSans-Book.woff2') format('woff2'),
    url('/fonts/FiraSans-Book.woff') format('woff'),
    url('/fonts/FiraSans-Book.ttf') format('truetype'),
    url('/fonts/FiraSans-Book.svg') format('svg');
}

@font-face {
  font-family: 'Fira Sans Medium';
  src: url('/fonts/FiraSans-Medium.eot');
  src: url('/fonts/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/FiraSans-Medium.woff2') format('woff2'),
    url('/fonts/FiraSans-Medium.woff') format('woff'),
    url('/fonts/FiraSans-Medium.ttf') format('truetype'),
    url('/fonts/FiraSans-Medium.svg') format('svg');
}
