// prefs.scss
// Alexander Rhett Crammer
// Saturday, 30 April, 2016

// Preferences
$white: #eaeaea;
$peach: #df8b88;
$grey: #494949;
$rust: #c26139;

// Buttons
$neutral-button-color: #cc607c;
$neutral-button-border-color: #b25672;
