// prefs.scss
// Alexander Rhett Crammer
// Saturday, 30 April, 2016

// Preferences
$white: #eaeaea;
$peach: #e85e3a;
$grey: #494949;
$rust: #E06634;

// Buttons
$neutral-button-color: #cc607c;
$neutral-button-border-color: #b25672;
