// products.scss
// Alexander Rhett Crammer
// Saturday, 23 April, 2016

// Sidebar
aside {
  .indent {
    text-indent: 1rem;
  }
}

// Products
.products {
  h1 {
    margin: 4.5% auto;
  }

  section {

    // of 635.328px
    background: mediumslateblue;
    float: left;
    width: 211.776px;
  }
}
