// product-detail.scss
// Alexander Rhett Crammer
// Saturday, 30 April, 2016

// Structure
main {
  background: white;
}

main, aside {
  width: 50%;
}

// Preview Images
.preview-images {
  overflow: auto;

  .mask {
    width: 85%;
  }

  .previews {
    display: table;
    float: left;
    height: 500px;
    width: 15%;

    li {
      display: table-row;

      &:first-child, &:last-child {
        height: 125px;
      }
    }

    span {
      display: table-cell;
      vertical-align: middle;
    }

    img {
      display: block;
      max-height: 125px;
    }
  }
}

// Clipping Masks
.mask {
  background: white;
  height: 500px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;

  img {
    width: 50%;
  }

  .helper {
    height: 100%;
  }

  img, .helper {
    display: inline-block;
    vertical-align: middle;
  }
}

// Half-Width Images
.half-width-images {
  clear: both;

  .mask {
    width: 50%;
  }
}

// Reviews
.reviews {
  clear: both;
}
