// product-detail.scss
// Alexander Rhett Crammer
// Saturday, 30 April, 2016

// Structure
body, main {
  background: white;
  float: left;
}

main, aside {
  width: 50%;
}

aside.product-detail {
  border-bottom: 0.125rem solid #d2d2d2;
}

aside.right {
  border: 0;
  float: none;
  width: 100%;
}

aside li:not(.indent) {
  margin: 2.5% 0;
}

// Description
.description {
  overflow: scroll;
  padding: 2.5rem;
  position: relative;

  h1 {
    color: #353535;
    font: {
      family: "Fira Sans Medium";
      size: 1.25rem;
    }
    line-height: 135%;
  }

  p, li {
    font-family: "Fira Sans";
    font-size: 0.935rem;
    line-height: 150%;
    margin: 2.5% 0;
    width: 70%;
  }

  .price {
    font: {
      family: "Source Sans Pro Light";
      size: 1.75rem;
    }
    position: absolute;
    top: 2.5%;
    right: 7.5%;
    text-align: right;
  }

  ul {
    margin: 0;
  }

  a:link, a:visited {
    display: block;
    margin: 5% 0 0;

    button {
      margin: 0;
    }
  }
}

// Preview Images
.preview-images {
  overflow: auto;

  .mask {
    width: 85%;
  }

  .previews {
    cursor: pointer;
    display: table;
    float: left;
    height: 500px;
    width: 15%;

    li {
      display: table-row;

      &:first-child, &:last-child {
        height: 125px;
      }
    }

    span {
      display: table-cell;
      vertical-align: middle;
    }

    img {
      display: block;
      max-height: 125px;
    }
  }
}

// Clipping Masks
.mask {
  background: white;
  height: 500px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;

  img {
    width: 50%;
  }

  .helper {
    height: 100%;
  }

  img, .helper {
    display: inline-block;
    vertical-align: middle;
  }
}

// Half-Width Images
.half-width-images {
  clear: both;

  .mask {
    width: 50%;
  }
}

// Reviews
.reviews-and-write-a-review {
  display: table;
  position: relative;
  overflow: auto;
  width: 100%;

  // Make the review form full width
  // if there are no reviews yet
  &.empty {
    display: block;

    .reviews {
      display: none;
    }

    .right {
      position: static;

      h1, form {
        margin: auto;
        padding: 1rem;
        width: 35%;
      }

      form {
        padding-bottom: 5rem;
      }
    }
  }

  .reviews {
    vertical-align: top;
  }

  .review {
    /* Edit and Share: http://colorzilla.com/gradient-editor/#57461b+0,4d4142+100&0.85+0,0.85+100 */
    background: -moz-linear-gradient(45deg, rgba(87, 70, 27, 0.85) 0%, rgba(77, 65, 66, 0.85) 100%);
    background: -webkit-linear-gradient(45deg, rgba(87, 70, 27, 0.85) 0%,rgba(77, 65, 66, 0.85) 100%);
    background: linear-gradient(45deg, rgba(87,70,27,0.85) 0%,rgba(77, 65, 66, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f257461b', endColorstr='#f24d4142',GradientType=1);

    border: {
      top: 0.125rem solid #40392e;
      bottom: 0.125rem solid #40392e;
    }
    color: #ddd;
    clear: both;
    display: table;
    font-family: "Fira Sans";
    overflow: auto;
    padding: 0.65rem 0;
    position: relative;
    width: 100%;

    .left, .right {
      display: table-cell;
      vertical-align: middle;
    }

    .left {
      margin: 2.5%;
      padding-left: 5%;
      width: 70%;

      p {
        font: {
          family: "Open Sans", "Source Sans Pro", sans-serif;
          size: 0.9rem;
        }
        line-height: 175%;
        margin: 2.5% auto;
        width: 95%;
        max-width: 700px;
      }
    }

    .right {
      padding: 0 2.5%;
      text-align: center;

      img {
        border: 0.235rem solid #504946;
        border-radius: 100rem;
        margin-bottom: 7.5%;
        width: 65%;
        max-width: 125px;
      }

      h1 {
        font: {
          family: "Open Sans", "Source Sans Pro", sans-serif;
          size: 0.9rem;
        }
      }

      p {
        font-size: 0.85rem;
        line-height: 225%;
      }
    }

    &::after {
      /* Edit and Share: http://colorzilla.com/gradient-editor/#57461b+0,4d4142+100&0.85+0,0.85+100 */
      background: -moz-linear-gradient(45deg, rgba(87, 70, 27, 0.85) 0%, rgba(77, 65, 66, 0.85) 100%);
      background: -webkit-linear-gradient(45deg, rgba(87, 70, 27, 0.85) 0%,rgba(77, 65, 66, 0.85) 100%);
      background: linear-gradient(45deg, rgba(87,70,27,0.85) 0%,rgba(77, 65, 66, 0.85) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f257461b', endColorstr='#f24d4142',GradientType=1);

      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
    }
  }

  .reviews, .right {
    display: table-cell;
    height: 100%;
  }

  .reviews {
    width: 60%;
  }
}

// Write a Review
.right {
  h1.peachy {
    &::before, &::after {
      width: 16%;
    }
  }

  .stars {
    margin: 5% auto;
    width: 40%;

    img {
      width: 20%;
    }
  }
}

@media only screen and (max-width: 950px) {
  // Description
  .description {
    padding-top: 0;

    p, ul {
      text-align: justify;
      width: 90%;
    }

    li {
      width: 100%;
    }

    .price {
      position: static;
    }
  }
}

@media only screen and (max-width: 750px) {
  // Structure
  main, aside {
    width: 100%;
  }

  // Description
  .description {
    text-align: center;

    h1 {
      text-align: left;
      margin: 2.5% auto;
    }

    h1, p, ul {
      width: 65%;
    }

    p, ul {
      margin: auto;
    }
  }
}

@media only screen and (max-width: 600px) {
}
