// Seminars.scss
// Alexander Rhett Crammer
// Friday, 29 April, 2016

@import 'prefs';

// Seminar List
.seminar {
  position: relative;

  &::after {
    /* Edit and Share: http://colorzilla.com/gradient-editor/#57461b+0,4d4142+100&0.85+0,0.85+100 */
    background: -moz-linear-gradient(45deg, rgba(87, 70, 27, 0.85) 0%, rgba(77, 65, 66, 0.85) 100%);
    background: -webkit-linear-gradient(45deg, rgba(87, 70, 27, 0.85) 0%,rgba(77, 65, 66, 0.85) 100%);
    background: linear-gradient(45deg, rgba(87,70,27,0.85) 0%,rgba(77, 65, 66, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f257461b', endColorstr='#f24d4142',GradientType=1);

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  border: {
    top: 0.125rem solid #40392e;
    bottom: 0.125rem solid #40392e;
  }
  color: #dbdbdb;
  background: {
    position: center center;
  }
  font-family: "Fira Sans";
  line-height: 150%;
  padding: 4.5% 3.5%;
  z-index: 0;

  h1, p {
    margin: auto 1.5%;
  }

  h1 {
    font-size: 1.65rem;
    line-height: 175%;
  }

  p {
    font-size: 1rem;
    max-width: 500px;
  }

  a {
    display: inline-block;
    margin-top: 3.5%;
  }
}

// Reviews
.review {
  padding: 2.5% 0;

  .left {
    float: left;
    margin-left: 5%;
    width: 60%;

    .stars img {
      float: left;
      width: 7.5%;
    }

    p {
      color: #353535;
      clear: both;
      line-height: 150%;
      margin: 10% 0;
    }

    a:link, a:visited {
      color: $grey;
      font: {
        family: "Source Sans Pro";
        style: italic;
      }
      text-decoration: none;
      transition: all 225ms;
    }

    a:hover {
      color: lighten($grey, 25%);
      text-decoration: underline;
    }

    a:active {
      color: darken($grey, 75%);
    }
  }

  .right {
    float: right;
    margin-right: 5%;
    text-align: center;
    line-height: 150%;
    letter-spacing: 0.025rem;
    width: 25%;

    p {
      font-family: "Source Sans Pro Light";
    }

    img {
      border: 0.235rem solid #e0e0e0;
      border-radius: 100rem;
      width: 80%;
    }
  }

  // Comments
  .review_comment {
    background: yellow;
    clear: both;
    padding: 3.5% 0;
  }
}
