// Seminars.scss
// Alexander Rhett Crammer
// Friday, 29 April, 2016

@import 'prefs';

// Seminar List
.seminar {
  position: relative;

  &::after {
    /* Edit and Share: http://colorzilla.com/gradient-editor/#57461b+0,4d4142+100&0.85+0,0.85+100 */
    background: -moz-linear-gradient(45deg, rgba(87, 70, 27, 0.85) 0%, rgba(77, 65, 66, 0.85) 100%);
    background: -webkit-linear-gradient(45deg, rgba(87, 70, 27, 0.85) 0%,rgba(77, 65, 66, 0.85) 100%);
    background: linear-gradient(45deg, rgba(87,70,27,0.85) 0%,rgba(77, 65, 66, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f257461b', endColorstr='#f24d4142',GradientType=1);

    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  border: {
    top: 0.125rem solid #40392e;
    bottom: 0.125rem solid #40392e;
  }
  color: #dbdbdb;
  background: {
    position: center center;
  }
  font-family: "Fira Sans";
  line-height: 150%;
  padding: 4.5% 3.5%;
  z-index: 0;

  h1, p {
    margin: auto 1.5%;
  }

  h1 {
    font-size: 1.65rem;
    line-height: 175%;
  }

  p {
    font-size: 1rem;
    max-width: 500px;
  }

  a {
    display: inline-block;
    margin-top: 3.5%;
  }
}

// Reviews
.review {
  border: {
    top: 0.115rem solid #d6d6d6;
    bottom: 0.115rem solid #d6d6d6;
  }
  overflow: hidden;
  padding: 5% 0;

  .left {
    float: left;
    margin-left: 5%;
    width: 60%;

    .stars img {
      float: left;
      width: 7.5%;
      max-width: 30px;
    }

    p {
      color: #353535;
      clear: both;
      line-height: 150%;
      margin: 10% 0;
      max-width: 475px;
    }

    a:link, a:visited {
      color: $grey;
      font: {
        family: "Source Sans Pro";
        style: italic;
      }
      text-decoration: none;
      transition: all 225ms;
    }

    a:hover {
      color: lighten($grey, 25%);
      text-decoration: underline;
    }

    a:active {
      color: darken($grey, 75%);
    }
  }

  .right {
    float: right;
    margin-right: 5%;
    text-align: center;
    line-height: 150%;
    letter-spacing: 0.025rem;
    width: 25%;

    p {
      font-family: "Fira Sans Light";
    }

    img {
      border: 0.235rem solid #e0e0e0;
      border-radius: 100rem;
      width: 80%;
      max-width: 150px;
    }
  }

  // Comments
  .review_comments {
    position: relative;
    top: 35px;
  }

  .review_comment {
    /* Edit and Share: http://colorzilla.com/gradient-editor/#57461b+0,4d4142+100&0.85+0,0.85+100 */
    background: -moz-linear-gradient(45deg, rgba(87, 70, 27, 0.85) 0%, rgba(77, 65, 66, 0.85) 100%);
    background: -webkit-linear-gradient(45deg, rgba(87, 70, 27, 0.85) 0%,rgba(77, 65, 66, 0.85) 100%);
    background: linear-gradient(45deg, rgba(87,70,27,0.85) 0%,rgba(77, 65, 66, 0.85) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f257461b', endColorstr='#f24d4142',GradientType=1);

    clear: both;
    color: $white;
    min-height: 150px;
    overflow: auto;
    position: relative;

    p {
      float: left;
      font: {
        family: "Fira Sans Light";
        size: 0.9rem;
      }
      letter-spacing: 0.025rem;
      line-height: 175%;
      padding: 1rem 0;
      margin-left: 2.5%;
      width: 60%;
    }

    .right {
      float: left;
      font-size: 0.85rem;
      margin: 0;
      padding: 1rem 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 30%;

      img {
        border-width: 0.125rem;
        float: left;
        width: 40%;
        max-width: 100px;
      }

      .author_details {
        position: absolute;
        top: 7.5%;
        right: 7.5%;
        bottom: 0;
        width: 45%;

        p {
          line-height: 135%;
          margin: 5% auto;
          padding: 0;
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}

// Write a Review
aside {
  h1.peachy.dark.section-title {
    &::before, &::after {
      width: 10%;
    }
  }

  form {
    padding: 7.5%;

    label {
      display: block;
      font: {
        family: "Source Sans Pro Light";
        size: 0.925rem;
      }
      letter-spacing: 0.0275rem;
      text-transform: uppercase;
      width: 100%;
    }

    input, textarea {
      /* Edit and Share: http://colorzilla.com/gradient-editor/#dbdbdb+0,c7c7c7+100 */
      background: rgb(219,219,219); /* Old browsers */
      background: -moz-linear-gradient(45deg,  rgba(219,219,219,1) 0%, rgba(199,199,199,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg,  rgba(219,219,219,1) 0%,rgba(199,199,199,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg,  rgba(219,219,219,1) 0%,rgba(199,199,199,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#c7c7c7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

      border: 0;
      border-radius: 0.175rem;
      color: $grey;
      font: {
        family: "Georgia";
        size: 0.875rem;
        style: italic;
      }
      letter-spacing: 0.0275rem;
      padding: 2.5% 7.5%;
      margin: 3.5% 2.5%;
      width: 30%;
    }

    textarea {
      height: 275px;
      line-height: 165%;
      padding: 4.35% 7.5%;
      width: 80%;
    }

    .stars {
      cursor: pointer;
      margin: 7.5% auto;
      width: 35%;

      img {
        width: 20%;
      }
    }

    button {
      display: block;
      margin: auto;
    }
  }
}
