extends shared/layout

block extra_styles
  link(rel="stylesheet", href="/stylesheets/products.css")

block content
  //- Navigation Bar
  include shared/nav-cta

  //- Categories
  aside
    include shared/categories/hardware
