extends shared/layout

block extra_metadata
  meta(name="description", content="Review the prices, descriptions, and images of our inventory.")

block extra_styles
  link(rel="stylesheet", href="/stylesheets/products.css")
  link(rel="stylesheet", href="/stylesheets/product-view.css")

block content
  //- Navigation Bar
  include shared/nav-list

  //- CTA
  include shared/ctas/product

  main
    //- Search Bar
    include shared/search-bar
    
    //- Products
    h1.peachy.dark.section-title Clearance
    section.products
      each product, i in products
        section
          h1
            //- Only show the brand and model names
            //if we get them from the Amazon API
            - var brandName = (product.ItemAttributes[0].Brand) ? product.ItemAttributes[0].Brand : ''
            - var modelName = (product.ItemAttributes[0].Model) ? product.ItemAttributes[0].Model : ''
            a(href="/products/" + product.ASIN[0])= brandName + " " + modelName
          div.image-mask
            img(src=product.LargeImage[0].URL[0])
          p= product.ItemAttributes[0].Title
          - if (product.ItemAttributes[0].ListPrice)
            //- We have the price, show it
            p.price= product.ItemAttributes[0].ListPrice[0].FormattedPrice[0]
          a(href="/products/" + product.ASIN[0]) More &raquo;

  //- Categories
  aside
    include shared/categories/hardware

block extra_scripts
  script(src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js")
  script(src="/scripts/product-view.js")
