extends shared/layout

block extra_styles
  link(rel="stylesheet", href="/stylesheets/seminars.css")

block content
  //- Navigation Bar
  include shared/nav-list

  //- CTA
  include shared/ctas/seminar

  //- Seminars
  main
    //- Search Bar
    include shared/search-bar

    - var i = 0
    while i < 15
      section.seminar(style="background-image: url('/images/cta-headers/#{seminars[1].headerImageFilename}')")
        h1= seminars[1].title
        p= seminars[1].description
        a(href="/seminars/" + seminars[1].idHash)
          button Book
        a(href="/seminars/star/" + seminars[1].idHash)
          button.yellow Star
      - i++

  //- Filters
  aside
    h1.peachy Filters
    ul(class="sidebar-list")
      each filter in filters
        li= filter
