extends shared/layout

block content
  //- Navigation Bar
  include shared/nav-list

  //- CTA
  include shared/ctas/seminar

  //- Filters
  aside
    h1 Filters
    ul(class="sidebar-list")
    each filter in filters
      li= filter

  //- Seminars
  main
    - var i = 0
    while i < 15
      section(class="seminar")
        h1= seminars[0].title
        p= seminars[0].description
        a(href="/seminars/" + seminars[0].idHash)
          button Book
        a(href="/seminars/star/" + seminars[0].idHash)
          button Star
      - i++
