extends shared/layout

meta(name="description", content="Details about upcoming seminars")

block extra_styles
  link(rel="stylesheet", href="/stylesheets/seminars.css")

block extra_scripts
  script(src="/scripts/seminars.js")

block content
  //- Navigation Bar
  include shared/nav-list

  //- CTA
  include shared/ctas/seminar

  //- Seminars
  div.main-and-aside
    //- Filters
    aside
      include shared/lists/filters

    main
      //- Search Bar
      include shared/search-bar

      - var i = 0
      while i < 15
        - var random_i = Math.floor((Math.random() * seminars.length))
        section.seminar(style="background-image: url('/images/cta-headers/#{seminars[random_i].headerImageFilename}')")
          h1= seminars[random_i].title
          p= seminars[random_i].description
          a(href="/seminars/" + seminars[random_i].idHash)
            button View
          a(href="/seminars/star/" + seminars[random_i].idHash)
            button.yellow Star
        - i++
