div.cta(style="background-image: url('/images/cta-headers/noting-things.jpg')")
  section
    h1 Why Planning is Critically Important
    p We know many of you like to jump into new projects without thinking much of direction. Let's talk about how proper planning affects the outcomes of projects and the rocky road that lies ahead without it at the design summit next week!
    button
      a(href="#") Yes, please!
