div.cta
  img(src="/images/cta-headers/monitors.jpg", alt="Featured post background image")
  section
    h1 Ultra Sharp Monitors Released
    p We just got a lot of new monitors! If you’re looking for something big, something small, something with a high PPI, something with excellent color reproduction, or anything else we’ve got it!
    button
      a(href="#") Show me!
