section.cta
  img(src="/images/cta-headers/red-trains.jpg", alt="Featured post background image")
  section
    h1 Getting to Know Ruby on Rails
    p Get to know other Rubyists this weekend at a hackathon in our Manhattan development facilities. Whether you’re a n00b or a professional Ruby developer, we’d love to meet you!
    button
      a(href="/seminars/book/:seminar_id") Book
    button.yellow
      a(href="/seminars/star/:seminar_id") Star
