section.cta(style="background-image: url('/images/cta-headers/#{seminar_cta.headerImageFilename}')")
  section
    h1= seminar_cta.title
    p= seminar_cta.description
    button
      a(href="/seminars/book/:seminar_id") Book
    button.yellow
      a(href="/seminars/star/:seminar_id") Star
